doctype html
html(lang="en")
    head
        title Upload Image
    body
        form(action="/upload" id="imgform" method="post" enctype="multipart/form-data")
            div
                label(for="img")
                    strong Select an 1024x1024 Image to Upload
            input(type="file" name="img" id="img" accept="image/jpeg,image/jpg,image/png")
            input(type="hidden" name="userid" value="513")
            button(id="upload") Upload
            p(class="error-msg" style="color:#e74c3c;")
            script(src="/core.js")
