doctype html
html(lang="en")
    head
        title Your Images
    body
        a(href="/") Upload Again
        div
            div
                h2 HORIZONTAL
                img(src="/513/horizontal.jpeg")
            div
                h2 VERTICAL
                img(src="/513/vertical.jpeg")
            div
                h2 HORIZONTAL SMALL
                img(src="/513/horizontal_small.jpeg")
            div
                h2 GALLERY
                img(src="/513/gallery.jpeg")
